$headerPaddings: 7px 20px;
$headerFontSize: 20px;

* {
  margin: 0;
}

.flash {
  display: flex;
  align-items: center;
  padding: $headerPaddings;
  font-size: $headerFontSize;

  p {
    display: inline-block;
    padding-right: 30px;
    font-family: 'Merriweather Sans';
    font-weight: 400;
  }

  .close-btn {
    position: relative;
    top: 2px;
  }
}

.flash-success {
  stroke: #2A983C;
  color: #2A983C;
}

.flash-failure {
  stroke: #1A5824;
  color: #1A5824;
}

.hidden {
  display: none;
}

%container {
  width: 70%;
  margin: 0 auto;
  margin-top: 250px;
}
