@use 'global';

$form-border: 1px solid #2A8E3A;

#nav-footer {
  background-color: rgba(255,255,255, 0.95);
  position: absolute;
  width: 100%;

  .flash {
    display: flex;
    align-items: center;
    padding: global.$headerPaddings;
    font-size: global.$headerFontSize;

    p {
      display: inline-block;
      padding-right: 30px;
      font-family: 'Merriweather Sans';
      font-weight: 400;
    }

    #close-btn {
      position: relative;
      top: 2px;
    }

    #close-btn:hover {
      cursor: pointer;
    }
  }

  .flash-success {
    stroke: #2A983C;
    color: #2A983C;
  }

  .flash-failure {
    stroke: #1A5824;
    color: #1A5824;
  }


  .nav-form {
    fill: #2A8E3A;
    fill-opacity: 0.4;
    font-family: 'Merriweather Sans';
    font-weight: 400;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 160px 160px 40px;
    float: right;
    position: relative;
    right: 30px;
    font-size: global.$headerFontSize;

    button {
      width: 40px;
      height: 30px;
      background-color: #F4F4F4;
      border: $form-border;
      padding: 0;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      grid-row-start: 2;
    }

    input {
      width: 150px;
      height: 30px;
      padding: 0 3px;
      border: $form-border;
      grid-row-start: 2;
      font-size: global.$headerFontSize;
    }
  }

  form.hidden {
    display: none;
  }
}
