<ul class="menu">
  <li class="{{ page == 'latest' ? 'current' : '' }}">
    <a href="/view">Latest</a>
  </li>
  <span class='line'></span>
  <li class="{{ page == 'edit' ? 'current' : '' }}">
    <a href="/edit">Contribute</a>
  </li>
  <span class='line'></span>
  <li class="mobile">
    <span id="latest-articles-btn">Latest Articles</span>
  </li>
  <span class='line mobile'></span>
  {% if username != null %}
    <li>{{username}}</li>
    <span class='line'></span>
    <li class="logout-btn">Logout</li>
  {% else %}
    <li id="login-btn">Login</li>
    <span class='line'></span>
    <li id="register-btn">Register</li>
  {% endif %}
</ul>
