<nav>
  <div id="brand">
    <h3>Blog Pub</h3>
  </div>
  <ul id="menu">
    <li class="{{ page == 'latest' ? 'current' : '' }}">Latest</li>
    <span class='line'></span>
    <li class="{{ page == 'edit' ? 'current' : '' }}">Contribute</li>
    <span class='line'></span>
    {% if username != null %}
      <li>Hello {{username}}</li>
      <span class='line'></span>
      <li><button id='logout-btn'>Logout</button></li>
    {% else %}
      <li id="login-btn">Login</li>
      <span class='line'></span>
      <li id="register-btn">Register</li>
    {% endif %}
  </ul>
</nav>
