<form id='register-form' action="/auth/register" method="post">
  <input type="text" name="username" placeholder="Enter username..." required min='4'>
  <input type="password" name="password" placeholder=""="Enter password..." required min='8'>
  <button type="submit">Register</button>
</form>
