<aside>
  <h3>Past Articles</h3>
  <button class="mobile-btn">{{ include ('/svg/arrow-slim.svg') }}Back</button>
  <ul>
    {% for article in pastArticles %}
      <div class='article'>
      <a href="/view?id={{article.id}}">
        {{ article.title }}
        <p>- {{ article.username }}</p>
      </a>
      </div>
    {% endfor %}
  </ul>
</aside>
