    <link rel='stylesheet' href='/stylesheets/edit.css'>
  </head>
  <body>
    <div class="container">
      <form action="/edit/index" method="post">
        <input placeholder="Enter title...." type="text" name="title" value="">
        <textarea name="contribution" rows="5"></textarea>
        <button type="submit" name="button">Commit</button>
      </form>
    </div>
  </body>
</html>
