    {{ include('partials/header.html.twig') }}
    <link rel='stylesheet' href='/stylesheets/edit.css'>
    <link rel="stylesheet" href="/stylesheets/partials/sidebar.css">
  </head>
  <body>
    {{ include('partials/sidebar.html.twig') }}
    <div class="container">
      <section id="edit">
        <div class="header">
          <button type="button">Back</button>
          {% if article.title == null %}
            <input id="title-input" placeholder="Enter title...." type="text" name="title"/>
          {% else %}
            <h1>{{article.title}}</h1>
          {% endif %}
        </div>

        {% for contribution in contributions %}
          <p>{{contribution.body | raw}}</p>
          <br/>
        {% endfor %}

        <div id="decorator">
          <button type="button" name="header">T</button>
          <button type="button" name="emphasis">
            <em>e</em>
          </button>
          <button type="button" name="bold">
            <b>b</b>
          </button>
        </div>

        <div class="contributions">
          <!-- contribution textareas go here -->
        </div>
        <button disabled type="button" id="commit-btn">Commit</button>
        <form action="/edit/" method="post">
          <input type="hidden" name="contribution-1"/>
          <input type="hidden" name="contribution-2"/>
          <input type="hidden" name="contribution-3"/>
          <input type="hidden" name="contribution-4"/>
          <input id="title-form" type="hidden" name="title"/>
        </form>
      </section>
    </div>
    <script type="module" src="/Edit/index.js"></script>
  </body>
</html>
