{% extends '/blocks/page.html.twig' %}

{% block links %}
  {{ parent() }}
  <link rel='stylesheet' href='stylesheets/index.css'>
  <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400i&display=swap" rel="stylesheet">
{% endblock %}

{% block content %}
  <div class="container">
    <h1>Help Build a Community-Sourced Newsletter</h1>
    <ul>
      <li>"Contribute to on-going articles"</li>
      <li>"New article publication every week"</li>
      <li>"Be the first to select a weekly topic"</li>
    </ul>
    <button type="button" name="button"><a href="/articles/view">Enter</a></button>
    {{ include ('/svg/background.svg') }}
    {{ include ('/svg/background-mobile.svg') }}
  </div>
{% endblock %}
