  <link rel='stylesheet' href='stylesheets/index.css'>
  </head>
  <body>
    <h1>Help Build a Community-Sourced Newsletter</h1>
    <ul>
      <li>Contribute to on-going articles</li>
      <li>New article publication every week</li>
      <li>Be the first to select a weekly topic</li>
    </ul>
    <button type="button" name="button">Sign Up</button>
  </body>
</html>
