  {{ include('partials/header.html.twig') }}
    <link rel='stylesheet' href='/stylesheets/view.css'>
    <link rel="stylesheet" href="/stylesheets/sidebar.css">
  </head>
  <body>
    {{ include('partials/sidebar.html.twig') }}
    <div class="container">
      {% for contribution in contributions %}
        <p>{{contribution.body | raw}}</p>
        <br/>
      {% endfor %}
      {% if latest %}
        <a href="/edit">Contribute</a>
      {% endif %}
    </div>
  </body>
</html>
