* {
  margin: 0;
}

body, html {
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

.hidden {
  display: none;
}

#popup button, #edit button {
  padding: 10px 20px;
  border: 2px solid black;
  background-color: #F4F4F4;
  font-family: "Merriweather Sans";
  font-weight: 400;
}
#popup button a, #edit button a {
  display: inline-block;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
#popup button:hover, #edit button:hover {
  cursor: pointer;
  background-color: #ECECEC;
}

#edit #header .mobile-btn {
  display: none;
}
@media only screen and (max-width: 768px) {
  #edit #header .mobile-btn {
    display: inline-flex;
    align-items: center;
    width: 60px;
    justify-content: space-between;
    background: none;
    border: none;
    font-size: 18px;
    font-family: "Merriweather Sans";
    font-weight: 400;
    padding: 0;
  }
}

.container {
  width: 68%;
  margin: 0 auto;
}
.container h1 {
  margin: 15px auto 5px auto;
  width: 50%;
  font-family: "Merriweather";
  font-weight: 900;
  text-align: center;
}

#popup {
  width: 50%;
  font-size: 19px;
  font-family: "Merriweather Sans";
  position: absolute;
  z-index: 1;
  background-color: white;
  border: 3px solid black;
  padding: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#popup p {
  margin-bottom: 20px;
}
#popup ul {
  margin-bottom: 20px;
  padding-left: 23px;
  list-style: disclosure-closed;
}
#popup button {
  font-size: inherit;
}
#popup #commit-sure {
  color: #237831;
  border-color: #237831;
}

#edit {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  font-weight: 300;
  font-family: "Merriweather Sans";
}
#edit button {
  font-size: 1.1em;
  align-self: flex-start;
}
#edit input {
  font-size: 2.5em;
  font-style: bold;
}
#edit .contributions {
  margin: 20px 0;
}
#edit .contributions .contribution {
  width: 100%;
  min-height: 20px;
  overflow-wrap: anywhere;
  resize: none;
}
#edit .contributions #decorator {
  font-family: "Merriweather";
  background-color: #1B1B1B;
  border-radius: 3px 3px 0px 0px;
  color: #F4F4F4;
  opacity: 0;
  display: none;
  position: absolute;
  padding: 8px 8px;
}
#edit .contributions #decorator button {
  text-align: center;
  width: 35px;
  padding: 0 5px;
  background-color: rgba(0, 0, 0, 0);
  color: inherit;
  border: none;
  font-family: inherit;
}
#edit .contributions #decorator button[name=header] {
  font-size: 1.4em;
}
#edit .contributions #decorator .line {
  display: inline-block;
  background-color: #2A8E3A;
  height: 15px;
  width: 1px;
  position: relative;
  bottom: 4px;
}
#edit .contributions #decorator.show {
  display: block;
  animation: decorator-show 300ms linear;
  animation-fill-mode: forwards;
  animation-delay: 300ms;
}
#edit #header {
  position: relative;
  font-size: 1rem;
}
#edit #header h1 {
  font-size: 32px;
  text-align: center;
  position: relative;
}
#edit #header h2 {
  font-size: 24px;
  margin: 0 auto;
  width: 30%;
  text-align: center;
  font-family: "Merriweather";
  font-style: italic;
  font-weight: 300;
}
#edit #header button {
  bottom: 0;
  padding: 7px 30px;
  position: absolute;
  z-index: 1;
  border: 2px solid black;
}
#edit #header .mobile-btn {
  font-size: 22px;
  width: 70px;
  z-index: 0;
  bottom: -30px;
}
#edit #header .mobile-btn a {
  display: inline-flex;
  justify-content: inherit;
  align-items: inherit;
}
#edit #article {
  margin-top: 45px;
}
#edit #commit-btn {
  color: #237831;
  border-color: #237831;
}

@media only screen and (max-width: 1040px) {
  .container h1 {
    width: 75%;
  }
}
@media only screen and (max-width: 768px) {
  body > aside {
    display: none;
  }

  .container {
    width: 80%;
  }

  #edit .desktop-btn {
    display: none;
  }
  #edit #commit-btn {
    width: 100%;
  }
}
@media only screen and (max-width: 530px) {
  .container {
    width: 90%;
  }

  #edit {
    font-size: 17px;
  }
  #edit #header h1 {
    width: 100%;
    font-size: 1.7em;
  }
  #edit #header h2 {
    font-size: 25.5px;
  }
}
@keyframes decorator-show {
  from {
    opacity: 0;
    transform: translateY(-50%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/*# sourceMappingURL=edit.css.map */
