* {
  margin: 0;
}

body, html {
  height: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

.hidden {
  display: none;
}

.container button {
  padding: 10px 20px;
  border: 2px solid black;
  background-color: #F4F4F4;
  font-family: "Merriweather Sans";
  font-weight: 400;
}
.container button a {
  display: inline-block;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
.container button:hover {
  cursor: pointer;
  background-color: #ECECEC;
}

.container {
  width: 68%;
  margin: 0 auto;
}
.container h1 {
  margin: 15px auto 5px auto;
  width: 50%;
  font-family: "Merriweather";
  font-weight: 900;
  text-align: center;
}

.container {
  font-family: "Merriweather Sans";
}
.container h2 {
  margin: 0 auto;
  width: 30%;
  text-align: center;
  font-family: "Merriweather";
  font-style: italic;
  font-weight: 300;
}
.container button {
  border: 2px solid #2A8E3A;
  color: #2A8E3A;
  padding: 0;
  font-size: 1.1em;
  position: relative;
  left: 10px;
}
.container button a {
  padding: 10px 20px;
}
.container #contributions {
  font-size: 20px;
  margin-top: 45px;
  font-weight: 300;
}
.container #contributions p {
  padding: 10px 13px;
}
.container #contributions p:hover {
  animation: p-hover 300ms linear;
  animation-fill-mode: forwards;
}
.container #contributions .contribution {
  position: relative;
}
.container #contributions .contributor {
  top: 50%;
  transform: translateY(-100%);
  left: -180px;
  position: absolute;
  font-size: 0.8em;
  font-family: "Merriweather";
  display: none;
  padding: 4px 35px 4px 25px;
  background-image: url("/assets/contributor-bg.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.container #contributions p:hover + .contributor {
  opacity: 0;
  display: inline-block;
  animation: contributor-hover 300ms linear;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

@media only screen and (max-width: 1040px) {
  .container h1 {
    width: 75%;
  }
}
@media only screen and (max-width: 768px) {
  aside {
    display: none;
  }

  .container {
    width: 80%;
  }
  .container br {
    display: none;
  }
  .container > button {
    left: 0;
    width: 100%;
    margin: 50px 0;
  }
  .container #contributions {
    margin-top: 0;
  }
  .container #contributions .contribution {
    padding-top: 70px;
  }
  .container #contributions .contributor {
    background-image: url("/assets/contributor-bg-mobile.svg");
    padding: 20px 30px 35px 30px;
    left: 50%;
    top: 0px;
    transform: none;
    transform: translateX(-50%);
  }
  .container #contributions p:hover + .contributor {
    animation: contributor-hover-mobile 300ms linear;
    animation-fill-mode: forwards;
    animation-delay: 1s;
  }
}
@media only screen and (max-width: 530px) {
  .container {
    width: 90%;
    font-size: 17px;
  }
  .container h1 {
    width: 100%;
    font-size: 1.7em;
  }
  .container #contributions {
    font-size: inherit;
  }
  .container #contributions .contribution {
    padding-top: 50px;
  }
  .container #contributions .contributor {
    padding: 15px 20px 25px 20px;
  }
}
@keyframes p-hover {
  from {
    background-color: rgba(196, 196, 196, 0);
  }
  to {
    background-color: rgba(196, 196, 196, 0.2);
  }
}
@keyframes contributor-hover {
  from {
    left: -200px;
    opacity: 0;
  }
  to {
    left: -180px;
    opacity: 1;
  }
}
@keyframes contributor-hover-mobile {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/*# sourceMappingURL=view.css.map */
