@use '../../../global-scss/global.scss';

.container {
  @extend %container;
  font-family: 'Merriweather Sans';

  h2 {
    margin: 0 auto;
    width: 30%;
    text-align: center;
    font-family: 'Merriweather';
    font-style: italic;
    font-weight: 300;
  }

  button {
    @extend %button;
    border: 2px solid #2A8E3A;
    color: #2A8E3A;
    padding: 0;
    font-size: 1.1em;
    position: relative;
    left: 10px;

    a {
      padding: 10px 20px;
    }
  }

  #contributions {
    font-size: 20px;
    margin-top: 45px;
    font-weight: 300;

    p {
      padding: 10px 13px;
    }

    p:hover {
      animation: p-hover 300ms linear;
      animation-fill-mode: forwards;
    }

    .contribution {
      position: relative;
    }

    .contributor {
      top: 50%;
      transform: translateY(-100%);
      left: -180px;
      position: absolute;
      font-size: 0.8em;
      font-family: 'Merriweather';
      display: none;
      padding: 4px 35px 4px 25px;
      background-image: url('/assets/contributor-bg.svg');
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
    }

    p:hover + .contributor {
      opacity: 0;
      display: inline-block;
      animation: contributor-hover 300ms linear;
      animation-delay: 1s;
      animation-fill-mode: forwards;
    }
  }
}

@include global.large(){
  .container {
    h1 {
      width: 75%;
    }
  }
}

@include global.medium(){
  aside {
    display: none;
  }

  .container {
    width: 80%;

    br {
      display: none;
    }

    & > button {
      left: 0;
      width: 100%;
      margin: 50px 0;
    }

    #contributions {
      margin-top: 0;

      .contribution {
        padding-top: 70px;
      }

      .contributor {
        background-image: url('/assets/contributor-bg-mobile.svg');
        padding: 20px 30px 35px 30px;
        left: 50%;
        top: 0px;
        transform: none;
        transform: translateX(-50%);
      }

      p:hover + .contributor {
        animation: contributor-hover-mobile 300ms linear;
        animation-fill-mode: forwards;
        animation-delay: 1s;
      }
    }
  }
}

@include global.small(){
  .container {
    width: 90%;
    font-size: 17px;

    h1 {
      width: 100%;
      font-size: 1.7em;
    }

    #contributions {
      font-size: inherit;
      .contribution {
        padding-top: 50px;
      }

      .contributor {
        padding: 15px 20px 25px 20px;
      }
    }
  }
}

@keyframes p-hover {
  from {
    background-color: rgba(196, 196, 196, 0);
  } to {
    background-color: rgba(196, 196, 196, 0.2);
  }
}

@keyframes contributor-hover {
  from {
    left: -200px;
    opacity: 0;
  } to {
    left: -180px;
    opacity: 1;
  }
}

@keyframes contributor-hover-mobile {
  from {
    opacity: 0;
  } to {
    opacity: 1;
  }
}
